<div class="bordered-div" id="{{creature.card_id}}">
    <div class="top-div">
        <h1>{{creature.name}}</h1>
        <div class="side-by-side">
            <div class="half-width">
                <h3>❤️ {{creature.current_health_point}} / {{creature.max_health_point}}</h3>
            </div>
            <div class="half-width">
                <h3>🛡️ {{creature.armor_class}}</h3>
            </div>
        </div>

        <div class="side-by-side">
            <div class="half-width">
                <ul>
                    <li>STR : {{creature.strength}}</li>
                    <li>DEX : {{creature.dexterity}}</li>
                    <li>CON : {{creature.constitution}}</li>
                    <li>INT : {{creature.intelligence}}</li>
                    <li>WIS : {{creature.wisdom}}</li>
                    <li>CHA : {{creature.charisma}}</li>
                </ul>
            </div>
            <div class="half-width">
                <p>Quick dices</p>
                <div class="btn-container">
                    <button onclick="rollDice({{creature.card_id}}, 20)">1d20</button>
                    <button onclick="rollDice({{creature.card_id}}, 10)">1d10</button>
                    <button onclick="rollDice({{creature.card_id}}, 8)">1d8</button>
                    <button onclick="rollDice({{creature.card_id}}, 4)">1d4</button>

                    <label onclick="setAdv({{creature.card_id}}, 2)">🟩</label>
                    <label onclick="setAdv({{creature.card_id}}, -2)">🟥</label>
                </div>
                <p>🎲</p>
            </div>
        </div>
    </div>
</div>