<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <div class="grid-container" id="main-container">
        <div class="bordered-div">
            <div class="top-div">
                <h1>SPAWNER</h1>
            </div>
            <form method="post">
                <label for="dropdown">Select creature:</label>
                <select id="dropdown" name="dropdown">
                </select>
                <button type="button" onclick="submitForm()" id="instBtn">Instantiate</button>
            </form>
        </div>
    </div>
</body>

</html>